<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <a href="/<%= file %>/delete">delete</a>
    </li>
  <% end %>
</ul>
<a href="/new">Create new file</a>
