<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit" name="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<a href="/new">Create new file</a>
