<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <% next if !file.include?(".") %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
      <form class="inline" action="/<%= file %>/duplicate" method="post">
        <button type="submit">duplicate</button>
      </form>
    </li>
  <% end %>
</ul>
<a href="/new">Create new file</a>
<a href="/upload/image">Upload image file</a>

<% if session[:username] %>
  <form method="post" action="/users/signout">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
  <p class="user-status"><a href="/users/signup">Sign Up</a></p>
<% end %>
